In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
# 6 Create the path to your file directory and variables for the three files. 
file_dir = './Resources'
# Kaggle metadata
kaggle_file = f'{file_dir}/movies_metadata.csv'
# MovieLens rating data.
ratings_file = f'{file_dir}/ratings.csv'

In [3]:
# Convert to DataFrame
kaggle_file_df = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings_file_df = pd.read_csv(f'{file_dir}/ratings.csv')

In [4]:
# First five rows
kaggle_file_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
# Five random rows
kaggle_file_df.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
28664,False,NaN,95000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",http://movies.disney.com/cinderella,150689,tt1661199,en,Cinderella,"When her father unexpectedly passes away, youn...",...,2015-03-12,543514353.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Midnight is just the beginning.,Cinderella,False,6.7,2426.0
11685,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,47837,tt0052832,en,The Fugitive Kind,"Val Xavier, a drifter of obscure origins, arri...",...,1960-04-14,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,With a guitar and a snake skin jacket he drift...,The Fugitive Kind,False,6.5,16.0
24195,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://www.magpictures.com/whitebirdinablizzard/,157825,tt2238050,en,White Bird in a Blizzard,Kat Connors is 17 years old when her perfect h...,...,2014-08-14,33821.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I was 17 when my mother disappeared...,White Bird in a Blizzard,False,6.1,289.0
34483,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,116789,tt0113017,en,Falling For You,When Meg gets thrown out of her apartment wind...,...,1995-02-21,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Falling For You,False,0.0,0.0
8444,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,82101,tt0039636,en,Mourning Becomes Electra,"Near the end of the Civil War, the proud resid...",...,1947-11-19,0.0,173.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...Mother and daughter in love with the same m...,Mourning Becomes Electra,False,6.7,3.0

In [6]:
ratings_file_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556